<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @list.name %>
</p>

<div id="picture_display">
  <%= render @list.listed_pictures %>
</div>

<%#= render :partial => 'listed_pictures/listed_picture_form' %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
