<p>
  <b><%= @note.text %></b>
</p>

<p>
  <%= @note.user.andand.email %>
</p>

<% @note.comments.each do |comment| %>
  <li><%= comment.text %></li>
<% end %>

<p>
  <b><%= pluralize @note.tags.count, 'tag' %></b><br>
  <% @note.tags.each do |tag| %>
    <%= link_to tag.name, tag %>
  <% end %>
</p>

<%= form_for @note.taggings.new do |f| %>
  <%= text_field_tag :tag_names %>
	<%= f.hidden_field :taggable_id %>
	<%= f.hidden_field :taggable_type %>
<% end %>

<%= form_for @note.listed_pictures.new do |f| %>
  <%= f.select :list_id, options_from_collection_for_select(List.all, :id, :name), :include_blank => true %>
  <%= f.submit "Add to this list" %>
	<%= f.hidden_field :listed_id %>
	<%= f.hidden_field :listed_type %>
<% end %>

<%= link_to 'edit', edit_note_path(@note) %>
