<h1>Listing listed_pictures</h1>

<table>
  <tr>
    <th>List</th>
    <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @listed_pictures.each do |listed_picture| %>
  <tr>
    <td><%= listed_picture.list %></td>
    <td><%= listed_picture.picture %></td>
    <td><%= link_to 'Show', listed_picture %></td>
    <td><%= link_to 'Edit', edit_listed_picture_path(listed_picture) %></td>
    <td><%= link_to 'Destroy', listed_picture, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Listed picture', new_listed_picture_path %>
