<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag.name %>
</p>

<p>
  <b><%= pluralize @tag.taggables.count, 'pictures and notes' %></b><br>
  <% @tag.taggables.each do |taggable| %>
    <%= link_to taggable.title, taggable %>
  <% end %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
