<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag.name %>
</p>

<p>
  <b><%= pluralize @tag.pictures.count, 'picture' %></b><br>
  <% @tag.pictures.each do |picture| %>
    <%= link_to picture.title, picture %>
  <% end %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
