<p id="notice"><%= notice %></p>

<p>
  <b><%= @picture.title %></b>
</p>

<%= image_tag @picture.photo_file.url, :width => '200px' %>
<br>

<p>
  <b><%= pluralize @picture.tags.count, 'tag' %></b><br>
  <% @picture.tags.each do |tag| %>
    <%= link_to tag.name, tag %>
  <% end %>
</p>

<div>
  <%= form_for @picture.taggings.new do |f| %>
    <%= f.select :tag_id, options_from_collection_for_select(Tag.all, :id, :name) %>
    <%= f.hidden_field :picture_id %>
    <%= submit_tag 'Add tag' %>
  <% end %>
  <%= link_to 'new tag', new_tag_path %>
</div>
<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'pictures index', pictures_path %>
