<p id="notice"><%= notice %></p>

<p>
  <b>Tag:</b>
  <%= link_to @tagging.tag.name, @tagging.tag %>
</p>

<p>
  <b>Picture:</b>
  <%= link_to @tagging.picture.title, @tagging.picture %>
</p>


<%= link_to 'Edit', edit_tagging_path(@tagging) %> |
<%= link_to 'Back', taggings_path %>
