<!DOCTYPE html>
<html>
<head>
  <title>CommunityPics</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to 'pictures', pictures_path %>
  <%= link_to 'tags', tags_path %>
  <%= link_to 'lists', lists_path %>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
