<!DOCTYPE html>
<html>
  <head>
    <title>CommunityPics</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav>
      <ul>
        <li><%= link_to 'notes', notes_path %></li>
        <li><%= link_to 'pictures', pictures_path %></li>
        <li><%= link_to 'tags', tags_path %></li>
        <li><%= link_to 'lists', lists_path %></li>
        <li><%= link_to 'log out', logout_path %></li>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>

    <div id="main_content">
      <%= yield %>
    </div>

  </body>
</html>
